.one {
    background-color: aliceblue;
    width: 200px;
    height: 200px;
}

.two {
    background-color: azure;
    width: 100px;
    height: 100px;
}

.three {
    background-color: blanchedalmond;
    width: 100px;
    height: 100px;
}